.div-tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
select {
    background: transparent;
    border: none;
    font-size: 18px;
    height: 35px;
    padding: 5px;
    width: 300px;
 }
 .div-pago{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
 }
 .descripcion-tarjeta-columnas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.descripcion-tarjeta {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
}
.info-carrito {
    margin-top: 100px;
    padding: 15px;
    background-color:#e9ecef;
}
.descripcion-datos-columnas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.div-input-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.titulo-tarjeta{
    margin-top: 25px;
}
.parrafo-tarjeta{
    margin-bottom: 0%;
}
.checkout-tarjeta{margin-top: 40px;}
.grupo-contacto-tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130%;
}
