.plantilla-info-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulo-info-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cuenta-pedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   list-style-type: none;
   margin: 15px;
  
}
